* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, rgb(255, 72, 0), rgb(252, 172, 0));
}

h1 {
    font-size: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}

.calculator {
    border: 8px solid rgb(37, 37, 37);
    background: rgb(148, 148, 148);
    height: 600px;
    width: 450px;
    border-radius: 5px;
}

.display {
    font-size: 4rem;
    border: 5px solid black;
    height: 8rem;
    background-color: rgb(148, 168, 206);
}

button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 2.5rem;

}

.buttons {
    padding: 0;
    /* border-radius: 50px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 29.25rem;
}

.btnnum {
    background-color: #356494
}

.btnoperator {
    background-color: #0074D9;
}

.btnequals {
    background-color: #7FDBFF;
}

.btn-clear {
    padding-top: 0.5rem;
    grid-column: 1 / span 3;
    grid-row: 6 / span 6;
    background-color: cornflowerblue;
    /* test comment */
  }

/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {font-size: 2.5rem;
        text-align: center;
    }
    .calculator {
        height: 450px;
        width: 300px;
    }

    .buttons {
        height: 310px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    h1 {font-size: 3.5rem;
        text-align: center;
    }
    .calculator {
        height: 500px;
        width: 400px;
    }

    .buttons {
        height: 360px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    h1 {font-size: 3.5rem;
        text-align: center;
    }
    .calculator {
        height: 500px;
        width: 400px;
    }

    .buttons {
        height: 360px;
    }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    h1 {font-size: 5rem;
        text-align: center;
    }
    .calculator {
        height: 650px;
        width: 450px;
    }

    .buttons {
        height: 510px;
    } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    h1 {font-size: 5.5rem;
        text-align: center;
    }
    .calculator {
        height: 650px;
        width: 450px;
    }

    .buttons {
        height: 510px;
    } 